<!DOCTYPE html>
<html>
<head>
    <title>Title Screen</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div class="container">
    <!-- Title with pop effect -->
    <h1 class="title">Rainy Day Cafe</h1>

    <!-- Start and Settings buttons -->
    <button class="button" onclick="window.location.href='/start'">Play</button>
    <button class="button" onclick="window.location.href='/settings'">Settings</button>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
